<form action="/tasks" method="POST" class="task-form">
  <input type="text" name="content" class="task-input">
  <button type="submit" class="task-btn">Add Task</button>
</form>

<% @tasks.each do |task| %>
  <%= task.content %>
  <a href="/delete/<%= task.id %>">Delete</a>
<% end %>
