@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');

:root {
  --blue: #00bfa5;
  --dark-blue: #008e76;
  --neutral: #E1E2E1;
}

body {
  font-family: 'Roboto';
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Main Container */

.main-container {
  width: 1024px;
}

.title {
  font-size: 5rem;
  font-weight: bolder;
}

/* Task Form */

.task-form {
  width: 100%;
  height: 45px;
  border: 1px solid red;
}

.task-input {
  padding-left: 20px;
  width: 76%;
  height: 100%;
  border: 1px solid gray;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 1.1rem;
  outline: none;
}

.task-input:focus {
  border: 1px solid var(--blue);
}

.task-btn {
  display: inline;
  width: 20%;
  height: 100%;
  border: 1px solid var(--blue);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 1.1rem;
  color: #fff;
  background-color: var(--blue);
}

.task-btn:hover {
  border: 1px solid var(--dark-blue);
  background-color: var(--dark-blue);
}
